<ion-header>

    <ion-navbar color="dark">
        <ion-title>Ajustes</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-list>
        <ion-item text-center>
            <img [src]="user.imagen">
        </ion-item>

        <ion-item> {{ user.nombre}}</ion-item>
        <ion-item> {{ user.email}}</ion-item>
        <ion-item> {{ user.uid}}</ion-item>
        <ion-item> {{ user.provider}}</ion-item>

    </ion-list>
</ion-content>