page-login {
    ion-content {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,1e5799+30,70b724+67,70b724+92 */
        background: #7db9e8;
        /* Old browsers */
        background: -moz-linear-gradient(-45deg, #7db9e8 0%, #1e5799 30%, #70b724 67%, #70b724 92%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #7db9e8 0%, #1e5799 30%, #70b724 67%, #70b724 92%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #7db9e8 0%, #1e5799 30%, #70b724 67%, #70b724 92%);
    }
    img {
        width: 300px;
    }
    h3 {
        color: white;
    }
    .top-15 {
        margin-top: 15%;
    }
    .top-5 {
        margin-top: 5%;
    }
}