<ion-content padding text-center>

    <ion-grid>
        <ion-row>
            <ion-col>
                <img src="./assets/imgs/logo2.png" alt="">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="top-15">
                <h3> Acceso a la aplicación</h3>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="top-5">
                <button (click)="signInGoogle()" ion-button color="google" icon-left block>
                <ion-icon name="logo-google"></ion-icon>
                Google
              </button>
                <button (click)="signInWithFacebook()" ion-button color="facebook" icon-left block>
                  <ion-icon name="logo-facebook"></ion-icon>
                  Facebook
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>